*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
body,
html {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  color: #000;
}

body {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(
    0deg,
    rgba(139, 34, 195, 0.9) 0%,
    rgba(253, 174, 45, 0.85) 100%
  );
}

header {
  background-color: #ffffff52;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
  /* overflow: hidden; */
}

.logo-title {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 100px;
  margin-left: -80px;
  padding: 15px 0;
  font-size: 36px;
}

.logo {
  height: 100%;
}

.logo img {
  height: 100%;
}

.title {
  font-family: "Dancing Script", cursive;
}

.unsplash {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 5px;
  padding: 10px;
  font-family: Arial, sans-serif;
  font-size: 24px;
  text-align: center;
  border: 3px solid rgb(160, 160, 160);
  border-radius: 8px;
}

.unsplash img {
  width: 30px;
}

.search {
  display: flex;
  align-items: center;
  width: 35%;
}

.search-input {
  height: 40%;
  width: 100%;
  padding: 6px 18px;
  border: 1px solid rgb(160, 160, 160);
  border-radius: 20px;
  /* background-color: rgba(253, 174, 45, 0.85); */
}

.search-input:focus {
  box-shadow: 0 5px 20px #000;
}

main {
  flex: 1 1 auto;
  width: 70%;
  margin: 0 auto;
}

footer {
  width: 70%;
  height: 50px;
  margin: 0 auto;
}
