*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body,
html {
  height: 100%;
  line-height: 1;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  color: #ff9696;
}

body {
  background-color: #fdf0e4;
  transition: background-color 0.4s ease-out;
}

.button {
  width: 25%;
  height: 10%;
  border-radius: 5px;
  cursor: pointer;
}

.game-started-body {
  background-color: #847c75;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 92vh;
  overflow: hidden;
}

.rules {
  position: absolute;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 45%;
  height: 40%;
  padding: 10px;
  font-size: 36px;
  text-align: center;
  line-height: 150%;
  background-color: #fdf0e4;
  border: 5px solid #ff9696;
  border-radius: 20px;
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

code {
  padding: 5px;
  border-radius: 5px;
  background-color: rgb(224, 224, 224);
}

.rules-button {
  font-size: 30px;
  box-shadow: 0 0 25px #ff9696;
}

@media (max-width: 1255px) {
  .rules > * {
    font-size: 28px;
    line-height: 130%;
  }
}

@media (max-width: 830px) {
  .rules {
    width: 70%;
  }
}

@media (max-width: 500px) {
  .rules {
    width: 85%;
    height: 60%;
  }

  .rules-button {
    width: 30%;
  }
}

canvas {
  position: relative;
  transition: box-shadow 0.4s ease-out;
}

.game-started-canvas {
  box-shadow: 0 0 100px #000;
}

.start-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  color: #fff;
  box-shadow: 0 0 15px #000;
  font-family: "DotGothic16", sans-serif;
  font-size: 36px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  height: 8vh;
  margin: 0 auto;
}

@media (max-width: 970px) {
  footer {
    width: 95%;
  }
}

.gh-logo {
  width: 50px;
  filter: invert(64%) sepia(16%) saturate(1067%) hue-rotate(314deg)
    brightness(102%) contrast(108%);
}

.rsschool-logo {
  width: 100px;
  filter: invert(64%) sepia(16%) saturate(1067%) hue-rotate(314deg)
    brightness(102%) contrast(108%);
}
